
<template>
  <div class="card-group">
    <div v-for="album in albums" class="card"
      :key="album.id" 
      :data="album"
      :is="resultType">
    </div>
  </div>

</template>

<style>
.card {
  flex: 0 0 25% !important;
}
</style>

<script lang="ts">
import Vue, { VueConstructor } from "vue";
import Component from "vue-class-component";
import AlbumCard from "@/components/cards/AlbumCard.vue";
import { Prop } from "vue-property-decorator";
import { Album, Artist } from "@/model/Album";

@Component({})
export default class SearchResults extends Vue {
  @Prop()
  albums!: Album[] | Artist[];

  @Prop()
  resultType!: VueConstructor;
}
</script>
