<template>

  <div>
    <div class="row">
      <div class="col">
        <h4>Music Search</h4>
        <!-- Search Form -->
        <div class="row">
          <div class="col">
            <QueryField @search="search"></QueryField>
          </div>
          <div class="col-2">
            <select class="form-control" 
                :value="type"
                @change="setType($event.target.value)">
              <option value="album">Album</option>
              <option value="artist">Artist</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!-- Search Results -->

        <SearchResults :albums="results" :resultType="resultType">
        </SearchResults>
      </div>
    </div>
  </div>
  
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import SearchResults from "@/components/search/SearchResults.vue";
import QueryField from "@/components/QueryField.vue";

import { Album, Artist } from "@/model/Album";
import { search } from "@/services/services";
import AlbumCard from "@/components/cards/AlbumCard.vue";
import ArtistCard from "@/components/cards/ArtistCard.vue";

@Component({
  components: {
    SearchResults,
    QueryField
  }
})
export default class MusicSearch extends Vue {
  get results() {
    return this.$store.getters.results;
  }

  get query() {
    return this.$store.getters.query;
  }

  get type() {
    return this.$store.state.musicsearch.type;
  }

  get resultType() {
    const type = this.results[0] && this.results[0].type;

    return {
      album: AlbumCard,
      artist: ArtistCard
    }[type as "artist" | "album"];
  }

  setType(type: string) {
    this.$store.commit("setType", type);
    this.search(this.query);
  }

  search(query: string) {
    this.$store.dispatch("search", query);
  }
}
</script>
