<template>
   <div class="row">
        <div class="col">
          <!-- List -->
          <playlists-list 
          :items="playlists"
          :selected="playlist"
          @select="select($event.id)"
          @createNew="createNew"
          @remove="remove">
          </playlists-list>

        </div>
        <div class="col">
            <h3>Playlist</h3>

            <div v-if="playlist && !editing">
               
               <playlist-details 
                  :playlist="playlist"
                  @edit="edit">
               </playlist-details>

            </div>
            
            <div v-else-if="!playlist && !draft">
              Please select playlist
            </div>

            <div v-else>
              
               <playlist-form 
                :playlist="draft"
                @cancel="cancel"
                @save="save">
               </playlist-form>
              
            </div>

        </div>
      </div>
</template>


<script lang="ts">
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";
import { Playlist } from "@/model/Playlist";
import PlaylistList from "@/components/playlists/PlaylistsList.vue";
import PlaylistDetails from "@/components/playlists/PlaylistDetails.vue";
import PlaylistForm from "@/components/playlists/PlaylistForm.vue";
import Component from "vue-class-component";

@Component({
  components: {
    "playlists-list": PlaylistList,
    "playlist-details": PlaylistDetails,
    "playlist-form": PlaylistForm
  },
  computed: {
    ...mapGetters(["playlists", "playlist"])
  },
  methods: {
    // ...mapActions({
    // select: "selectPlaylist"
    // })
  },
  beforeRouteEnter(this: PlaylistsView, to, from, next) {
    next(vm => {
      const id = to.params["id"];
      vm.$store.dispatch("selectPlaylist", id);
    });
  },
  beforeRouteUpdate(this: PlaylistsView, to, from, next) {
    const id = to.params["id"];
    this.$store.dispatch("selectPlaylist", id);
    next();
  }
})
export default class PlaylistsView extends Vue {
  draft: Playlist | null = null;
  playlist!: Playlist;

  editing = false;

  select(id: Playlist["id"]) {
    this.$router.push({
      // path: `/playlists/${id}`
      name: "Playlists2",
      params: {
        id: "" + id
      }
    });
  }

  edit() {
    this.editing = true;
    this.draft = { ...this.playlist! };
  }

  remove(item: Playlist) {
    this.$store.dispatch("removePlaylist", item.id);
  }

  cancel() {
    this.editing = false;
  }

  save(draft: Playlist) {
    this.$store.dispatch("savePlaylist", draft);
    this.editing = false;
  }

  createNew() {
    this.editing = true;
    this.draft = {
      id: Date.now(),
      name: "",
      favourite: false,
      color: "#00000"
    };
  }
}
</script>
