<template>
  <div class="input-group mb-3">
    <input type="text" class="form-control" :placeholder="placeholder"
    @input="search($event.target.value)"
    v-on="$listeners">
  </div>
</template>


<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";

@Component({
  inheritAttrs: false
})
export default class QueryField extends Vue {
  @Prop({
    // required: true,
    // validator(p){},
    default: "Search ..."
  })
  placeholder!: string;

  debounce?: number;

  search(query: string) {
    clearTimeout(this.debounce);
    if (!query) {
      return;
    }
    this.debounce = setTimeout(() => {
      this.$emit("search", query);
    }, 400);
  }
}
</script>
