<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Hello</h1>

  <div id="app">
    Message:
    <p>{{ message }}</p>
    <p>{{ clock.counter }}</p>
    {{ items[items.length-1] }}
  </div>

  <script src="http://unpkg.com/vue"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Ala ma kota',
        clock: {
          counter: 0,
        },
        items: [1, 2, 3]
      },
      methods:{
        addItem: function(item){
          this.items.push(item)
          // Vue.set(this.items,this.items.length,item)
        }
      }
    })
  </script>
</body>

</html>