<template>
  <div class="card">
      <img class="card-img-top" :src="data.images[0]? data.images[0].url : 'http://place-hoff.com/300/400'">
      <div class="card-body">
        <h5 class="card-title">
          {{data.name | shorten(20) }}
        </h5>
      </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Album } from "@/model/Album";
import { Prop } from "vue-property-decorator";

@Component({})
export default class AlbumCard extends Vue {
  @Prop()
  data!: Album;
}
</script>
