<template>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      
      <slot :close="close"></slot>

    </div>
    <div class="card-footer">
      <slot name="footer"></slot>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";

@Component({})
export default class Card extends Vue {
  @Prop({})
  title!: string;

  close() {
    console.log("close");
  }
}
</script>
