<template>
  <Card>
     <div>
      <dl>
        <dt>Name:</dt>
        <dd> {{playlist.name}} </dd>
        <dt>Favourite:</dt>
        <dd> {{playlist.favourite? 'Yes':'No'}} </dd>
        <dt>Color:</dt>
        <dd :style="{
            color:playlist.color
        }"> {{playlist.color}} </dd>
      </dl>
      <input type="button" @click="edit()" value="Edit" class="btn btn-info">
    </div>
  </Card>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Playlist } from "@/model/Playlist";

@Component({
  props: ["playlist"]
})
export default class PlaylistDetails extends Vue {
  playlist!: Playlist;

  edit() {
    this.$emit("edit", this.playlist);
  }

  beforeCreate() {
    // console.log("beforeCreate", this);
  }

  created() {
    // console.log("created", this);
  }

  beforeMount() {
    // console.log("beforeMount", this.$vnode);
  }

  mounted() {
    // console.log("mounted", this.$el);
  }

  beforeUpdate() {
    // console.log("beforeUpdate", this);
  }

  updated() {
    // console.log("updated", this);
  }

  beforeDestroy() {
    // console.log("beforeDestroy", this);
  }

  destroyed() {
    // console.log("destroyed", this);
  }
}
</script>
