<template>
   <Card>
      <form @submit.prevent="" slot-scope="cardScope">
       <span class="close" @click="cardScope.close" >&times;</span>
    
      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" v-model="playlist.name">
      </div>

      <div class="form-group">
        <label>Favourite:</label>
        <input type="checkbox" v-model="playlist.favourite">
      </div>

      <div class="form-group">
        <label>Color:</label>
        <input type="color" v-model="playlist.color">
      </div>
    </form> 


    <input  slot="footer" type="button" @click="cancel" value="Cancel" class="btn btn-danger">

    <input  slot="footer" type="submit" @click="save" value="Save" class="btn btn-success">

   </Card>
</template>


<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Playlist } from "@/model/Playlist";

@Component({
  props: ["playlist"]
})
export default class PlaylistForm extends Vue {
  playlist!: Playlist;

  cancel() {
    // if(confirm('Are You sure?'))
    this.$emit("cancel", this.playlist);
  }

  save() {
    this.$emit("save", this.playlist);
  }
}
</script>
