<template>
   <div>
      <h3>Playlists</h3>
      <!-- Filter -->
      <QueryField @search="search"></QueryField>

      <div class="list-group">
        <div class="list-group-item"
          @click="select(playlist)"
          :class="{
            active: selected && playlist.id == selected.id
          }"
          v-for="playlist in searchResults"
          :key="playlist.id">

          <span>{{playlist.name}}</span>

          <span class="close" @click.stop="remove(playlist)">
            &times;
          </span>

        </div>
      </div>
      
      <span class="float-left mt-3">
        Favourited count: {{favouriteCount}}
      </span>

      <input type="button" value="New Playlist" 
      class="btn btn-info float-right mt-2" @click="createNew">
   </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Playlist } from "@/model/Playlist";
import QueryField from "@/components/QueryField.vue";
import { Prop } from "vue-property-decorator";

@Component({
  // props: ["items", "selected"],
  model: {
    prop: "selected",
    event: "select"
  },
  components: {
    QueryField
  }
})
export default class PlaylistList extends Vue {

  @Prop()
  items!: Playlist[];
  
  @Prop()
  selected!: Playlist;

  query: string = "";

  get searchResults() {
    return this.items.filter(item =>
      item.name.toLowerCase().includes(this.query.toLowerCase())
    );
  }

  search(query: string) {
    this.query = query;
    // this.searchResults = this.items.filter(item =>
    //   item.name.toLowerCase().includes(query.toLowerCase())
    // );
  }

  // computed:
  get favouriteCount() {
    return this.items.filter(x => x.favourite).length;
  }

  remove(item: Playlist) {
    this.$emit("remove", item);
  }

  select(item: Playlist) {
    this.$emit("select", item);
  }

  createNew() {
    this.$emit("createNew");
  }
}
</script>


<style>
</style>
