<template>
  <div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
      <div class="container">
        <a class="navbar-brand" href="#">Music App</a>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
              <li class="nav-item">
                <router-link class="nav-link" to="/playlists">Playlists</router-link>
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/search">Search</router-link>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <router-view></router-view>
    </div>

  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

@Component({})
export default class App extends Vue {}
</script>


<style>
@import "~bootstrap/dist/css/bootstrap.css";
</style>

